.App{
  margin-top: 40px;
}
.mr-auto{
  margin-left: auto;
}
.list-item-group{
  width: 800px;
  margin: auto;
}
.mr-2{
  margin-left: 5px;
}
.d-flex-a{
  display: flex!important;
  align-items: center;
  justify-content: space-between;
}
.mr-4{
  margin-left: 5px;
}